<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.Description %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
